---
layout: layout
---
<div class="news-detail">
  <div class="container">
    <div class="row">
      <div class="title">
        <h1><%= current_page.data.title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="image">
        <%= tag :img, :src => current_page.data.image %>
      </div>
    </div>
    <div class="row">
    <%= yield %>
    </div>
  </div>
</div>
  
    .container
      .row
        .title
          - date = Date.parse current_page.data.date.to_s
          span.date = date.strftime("%d-%m-%Y")
          h1 = current_page.data.title

      .row
        .image
          = image_tag current_page.data.image

      .row.content
        = yield
